*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
    display: grid;
    font-size: 1.5rem;
    background-color: #333;
    color: aliceblue;
}

h1, p{
    padding: 1rem;
}

p{
    background-color: #555;
}

nav{
    padding: 1rem;
    background-color: rgb(45, 149, 115);
    color: aliceblue;
    font-size: 1.5rem;
    top: 0;
    width: 100vw;
    position: fixed;
}

main{
    flex-grow: 1;
    display: grid;
    place-content: start;
    margin-top: 6rem;
}

a{
    text-decoration: none;
    color: rgb(45, 149, 115);
}

.banner{
    display: block;
    width: 100%;
    max-width: 800px;
}

button{
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
    padding: 1rem;
    color: aliceblue;
    background-color: rgb(45, 149, 115);
}

button:hover{
    background-color: rgb(62, 218, 166);
    cursor: pointer;
}

*::selection{
    background-color: rgb(45, 149, 115);
}

/* How to mark the errors for the user */

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}

.logout{
    display: inline-block;
}

.logout-button{
    padding: 1rem;
    background-color: rgb(210, 106, 140);
    border-radius: .5rem;
    border: none;
}