{%  extends 'layout.html' %}

{% block title %}
    Post List
{% endblock %}

{% block content %}
<section>
    <h1>Posts List</h1>
    <!-- This is a loop -->
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{% url 'posts:page' slug=post.slug %}">
                {{ post.title }}
                </a>
            </h2>
            <p>{{ post.date }} by {{ post.author }}</p>
            <p>{{ post.body }}</p>
        </article>
    {% endfor %}
</section>
{% endblock %}